@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html,


body {
  display: flex;
  margin: 0;
  background-color: #e6e6e6;
}

.visuhide {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.star__container:hover .star__item, .star__radio:checked ~ .star__item {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.star__container:not(:hover) > .star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5) ~ .star__item, .star__item, .star__item:hover ~ .star__item {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1)::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2)::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3)::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4)::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5)::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__container {
  display: flex;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  border-radius: .25em;
  background-color: rgb(237,6,144);
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  transition: box-shadow .3s ease;
}
.star__container:focus-within {
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.5);
}
.star__item {
  display: inline-flex;
  width: 1.25em;
  height: 1.5em;
}
.star__item::before {
  content: "⭐️";
  display: inline-block;
  margin: auto;
  font-size: .75em;
  vertical-align: top;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 50% 33.3%;
          transform-origin: 50% 33.3%;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
