#ipi-table > thead > tr, #ipi-table > thead > tr > td {
  font-size: .9em;
  font-weight: 400;
  background: #51596a;
  text-transform: uppercase;
  color: #ffffff;
}

#ipi-table > tbody > tr > td {
  max-height: 200px;
  vertical-align: middle!important;
}

