@media only screen and (max-width: 800px) {
  #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

@media only screen and (max-width: 800px) {
  #no-more-tables tr {
    border: 1px solid #ccc;
  }
}

@media only screen and (max-width: 800px) {
  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {
  #no-more-tables td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

